@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #303030; /* Dark background color */
  color: #f0f0f0; /* Light text color for readability on dark background */
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */